.FolderList-Box {
  margin-top: 10px;
  max-height: 410px;
  overflow-y: hidden;

  .FolderForm-InBox {
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
    min-height: 30px;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
  }
}
